---
import "photoswipe/style.css";

import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection, render } from "astro:content";
import BaseBlogLayout from "@layouts/BaseBlogLayout.astro";
import PrevNextPostNav from "@components/common/PrevNextPostNav.astro";
import BlogPostingStructuredData from "@components/structuredData/BlogPostingStructuredData.astro";
import FallbackImage from "../../assets/fallback.jpg";

import { sortPost } from "@utils/content";

export const getStaticPaths = (async () => {
  return sortPost(await getCollection("blog"), "asc").map((post, i, arr) => {
    return {
      params: { slug: post.id },
      props: {
        post,
        prev: i == 0 ? null : arr[i - 1],
        next: i < arr.length - 1 ? arr[i + 1] : null,
      },
    };
  });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post, prev, next } = Astro.props;
const { title, description, locale, bannerImage = FallbackImage } = post.data;
const { Content } = await render(post);

const updatedDate = post.data.updatedDate ?? post.data.pubDate;
---

<BaseBlogLayout 
  title={title} 
  description={description} 
  locale={locale}
  image={bannerImage}
>
  <BlogPostingStructuredData slot="structured-data" {...post.data} />
  <div slot="main-content" class="space-y-4 rounded-(--card-radius) bg-(--card-color) p-4 font-ibm-plex-sans-kr shadow-sm/40 sm:p-6">
    <header>
      <!-- Title of the post -->
      <h1 class="mb-2 text-4xl font-bold">{title}</h1>
      <!-- Publication and update dates -->
      <div class="flex flex-col items-end gap-1 text-sm/tight text-ctp-subtext0">
        <div>
          <span>Published:</span>
          <time datetime={post.data.pubDate.toISOString()}>
            {post.data.pubDate.toLocaleDateString()}
          </time>
        </div>
        <div>
          <span>Last update:</span>
          <time datetime={updatedDate.toISOString()}>
            {updatedDate.toLocaleDateString()}
          </time>
        </div>
      </div>
    </header>
    
    <!-- Main post content -->
    <div id="markdown-content" class="prose prose-catppuccin">
      <Content />
    </div>
  </div>
  
  <!-- After main content -->
  <div slot="after-main">
    <hr class="my-4 text-ctp-surface0" />
    <PrevNextPostNav prev={prev} next={next} />
  </div>
</BaseBlogLayout>
