---
import { getCollection } from "astro:content";
import CategoryTree from "@components/common/CategoryTree.astro";
import Accordion from "@components/common/Accordion.astro";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.flatMap(post => post.data.tags))];

interface Props {
  currentCategory?: string;
}

const { currentCategory } = Astro.props;
---

<div class="flex flex-col items-stretch md:flex-row md:items-start lg:flex-col lg:items-stretch gap-4 font-chiron">
  <Accordion title="Category" open={true} class={"flex-1"}>
      <CategoryTree {currentCategory} />
  </Accordion>
  <Accordion title="Tags" open={false}  class={"flex-1"}>
    <ul class="flex flex-wrap flex-row gap-1.5 justify-start">
        {
          tags.map(tag => (
            <li class="px-2 py-1 text-base/tight rounded-md bg-ctp-surface0/50 hover:bg-ctp-lavender/70 hover:underline hover:text-ctp-base transition duration-100 ease-out">
              <a href={`/tag/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ul>
  </Accordion>
</div>

