---
import { getCollection } from "astro:content";
import CategoryTree from "@components/common/CategoryTree.astro";
import Accordion from "@components/common/Accordion.astro";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.flatMap((post) => post.data.tags))];

interface Props {
  currentCategory?: string | null;
  currentTag?: string | null;
}

const { currentCategory, currentTag } = Astro.props;
---

<div
  id="sidebar-swup-container"
  class="flex flex-col items-stretch gap-4 font-chiron sm:flex-row sm:items-start lg:flex-col lg:items-stretch"
>
  <!-- Category accordion -->
  <Accordion
    title="Category"
    id="categoryAccordion"
    open={true}
    class="flex-1 shadow-sm/40"
  >
    <CategoryTree currentCategory={currentCategory} isHome={currentCategory === null && currentTag === null}/>
  </Accordion>

  <!-- Tag accordion -->
  <Accordion
    title="Tags"
    id="tagAccordion"
    open={false}
    class="flex-1 shadow-sm/40"
  >
    <ul class="flex flex-row flex-wrap justify-between gap-2">
      {
        tags.sort((a, b) => a.localeCompare(b, "en"))
        .map((tag) => (
          <li
            class:list={[
              "block min-w-[3ch] flex-grow rounded-md bg-ctp-overlay0/10 px-2 py-0.5 text-center text-base/tight ring ring-ctp-overlay0/40 transition duration-100 hover:bg-(--color-primary)/10 hover:text-(--color-primary) hover:ring-2 hover:ring-(--color-primary)/40",
              { "bg-(--color-primary) text-(--color-text-inverse)": tag === currentTag },
              { "bg-ctp-surface0/50": tag !== currentTag },
            ]}
            aria-current={tag === currentTag ? "page" : undefined}
          >
            <a href={`/tag/${tag}`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </Accordion>
</div>
