---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { title, description, pubDate, tags } = post.data;
const category = post.id.split("/").slice(0, -1).join("/");
---

<section class="w-full bg-ctp-base relative rounded-(--card-radius)">
  <div class="w-full p-6">
    <!-- Post title -->
    <a href={`/blog/${post.id}`} class="mb-4 flex items-center">
      <h3 class="font-black text-3xl inline">{title}</h3>
      <svg class="inline w-[var(--text-2xl)] align-middle fill-ctp-lavender opacity-0 transition-opacity duration-200 ease-out"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
      </svg>
    </a>
    <!-- Post description -->
    <p class="text-sm leading-tight pl-4 mb-4">{description}</p>
    <!-- Post metadata(pubdate, tags, category) -->
    <div class="pl-4 w-full flex flex-row gap-4 justify-start text-ctp-overlay1 text-sm">
      <!-- Pub date -->
      <div class="flex gap-1 items-center">
        <span class="sr-only">Published on</span>
        <div class="meta-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </div>
        <time datetime={pubDate.toISOString()} class="text-nowrap">{pubDate.toLocaleDateString()}</time>
      </div>
      <!-- Tags -->
      <div class=" relative z-2 hidden md:flex flex-row gap-2 items-center">
        <span class="sr-only">Tags</span>
        <div class="meta-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path d="M8.39 12.648a1 1 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1 1 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.51.51 0 0 0-.523-.516.54.54 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532s.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531s.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
          </svg>
        </div>
        <ul class="flex flex-row flex-wrap gap-1 items-center">
          { tags.map((tag, index) => (
            <li>
              <a href={`/tag/${tag}/`} class="no-underline hover:underline hover:text-ctp-lavender">{tag}</a>
              { index !== tags.length - 1 && <span class="cursor-default">/</span>}
            </li>
          )) }
        </ul>
      </div>
      <!-- Category -->
      <div class=" relative z-2 flex flex-row gap-2 items-center">
        <span class="sr-only">Category of {category}</span>
        <div class="meta-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
          </svg>
        </div>
        <a href={`/category/${category}/`} class="no-underline hover:underline hover:text-ctp-lavender">{category}</a>
      </div>
    </div>
  </div>
</section>

<style>
  @reference "@styles/global.css";

  section > div > a {
    &::before {
      content: "";
      @apply absolute inset-0 z-1 cursor-pointer rounded-(--card-radius) border-2 border-transparent;
      transition: border-color 200ms;
    }

    &:hover::before,
    &:focus::before {
      @apply border-ctp-lavender;
    }

    &:focus {
      outline: none;
    }
  }

  .meta-icon {
    @apply p-1 bg-ctp-lavender/10 rounded-sm;
    svg {
      @apply w-(--text-sm) fill-ctp-lavender;
    }
  }
</style>
