---
import type { BlogPost } from "../utils/types.ts";

interface Props {
  prev?: BlogPost;
  next?: BlogPost;
}

const { prev, next } = Astro.props;

---

<div class="w-full flex flex-row justify-around border-t border-t-ctp-surface0 py-4">
  {
    <div class=`relative flex-1 max-w-2/5 p-2 pl-4 rounded-sm flex flex-col items-start border border-ctp-surface0 ${next ? "cursor-pointer" : "cursor-default"}`>
      <strong>Next</strong>
      {
        next && (
          <a class="other-post" href={`/blog/${next.id}`}>
            <p>{next.data.title}</p>
            <p class="text-sm/5 text-ctp-subtext0"><time datetime={next.data.pubDate.toISOString()}>{next.data.pubDate.toLocaleDateString()}</time></p>
          </a>
        )
      }
    </div>
  }
  {
    <div class=`relative flex-1 max-w-2/5 p-2 pr-4 rounded-sm flex flex-col items-end border border-ctp-surface0 ${prev ? "cursor-pointer" : "cursor-default"}`>
      <strong>Previous</strong>
      {
        prev && (
          <a class="text-right" href={`/blog/${prev.id}`}>
            <p>{prev.data.title}</p>
            <p class="text-sm/5 text-ctp-subtext0"><time datetime={prev.data.pubDate.toISOString()}>{prev.data.pubDate.toLocaleDateString()}</time></p>
          </a>
        )
      }
    </div>
  }
</div>

<style>
  @reference "@styles/global.css";

  div > div > a {
    &::before {
      content: "";
      @apply absolute inset-0 z-1 cursor-pointer rounded-sm border-2 border-transparent;
      transition: border-color 200ms;
    }

    &:hover::before,
    &:focus::before {
      @apply border-ctp-lavender/50;
    }

    &:focus {
      outline: none;
    }
  }
</style>
