---
import { Folder, FolderOpen } from "@lucide/astro";
import type { CategoryNode } from "@utils/categoryTree";

interface Props {
  node: CategoryNode;
  depth?: number;
  currentCategory?: string | null;
}

const { node, depth = 1, currentCategory: curr } = Astro.props;
const hasChildren = Object.keys(node.children).length > 0;
const isCurrent = curr === node.name;
---

<li class="cat-item relative pl-4">
  <a
  href={`/category/${node.fullPath}`}
  class:list={[
    "h-6 group flex flex-row items-center justify-start gap-1 hover:text-(--color-primary)! hover:underline! hover:decoration-(--color-primary)!",
    { "font-bold text-(--color-primary) underline decoration-(--color-primary)": isCurrent },
    { "font-normal text-(--color-text) no-underline": !isCurrent },
  ]}
  style={{
    // paddingLeft: `calc(var(--spacing)*${depth*2})`
  }}
  aria-current={isCurrent ? "page" : undefined}
>
  <div class="bg-(--card-color) z-5">
    { 
      isCurrent ? (
        <FolderOpen class="size-4.25 text-(--color-primary) group-hover:text-current" stroke-width={2.5}/>
      ) : (
        <Folder class="size-4.25 text-(--color-text) group-hover:text-current"/>
      )
    }
  </div>
  <span>{node.name} ({node.postCount})</span>
</a>
</li>
{
  hasChildren && (
    <li class="cat-recursive-item relative pl-4">
      <ul class="flex flex-col" style={{
        // paddingLeft: `calc(var(--spacing)*${depth*2})`,
      }}>
        {Object.values(node.children).map((child) => (
          <Astro.self node={child} depth={depth + 1} currentCategory={curr} />
        ))}
      </ul>
    </li>
  )
}

<style>
  @reference "@styles/global.css";

  /* L shaped border */
  .cat-item::before {
    @apply absolute z-0 -top-3 left-2 w-2.5 h-6 border-b border-l border-b-(--color-text) border-l-(--color-text) content-[""];

  }

  /* I shaped border */
  .cat-recursive-item {
    &:not(:last-child)::before {
      @apply absolute z-0 -top-3 left-2 w-2.5 h-full border-l border-l-(--color-text) content-[""];
    }
  }
</style>
