---
import type { CategoryNode } from "@utils/categoryTree";

interface Props {
  node: CategoryNode;
  depth?: number;
  currentCategory?: string | null;
}

const { node, depth = 0, currentCategory: curr } = Astro.props;
const hasChildren = Object.keys(node.children).length > 0;
const isCurrent = curr === node.name;
---

<li class="cat-item relative">
  <div class="pl-1">
    <a
      href={`/category/${node.fullPath}`}
      class:list={[
        "group hover:text-(--color-primary)! hover:underline! hover:decoration-(--color-primary)!",
        { "font-bold text-(--color-primary) underline decoration-(--color-primary)": isCurrent },
        { "font-normal text-(--color-text) no-underline": !isCurrent },
      ]}
      aria-current={isCurrent ? "page" : undefined}
    >
      <span class="relative z-3">
        <svg
          class:list={["inline h-4 w-4 group-hover:fill-current", { "fill-(--color-primary)": isCurrent }, { "fill-(--color-text)": !isCurrent }]}
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          aria-hidden="true"
        >
          <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12q.322-.119.684-.12h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z" />
        </svg>
      </span>
      {node.name} ({node.postCount})
    </a>
  </div>
</li>
{
  hasChildren && (
    <li class="cat-recursive-item relative">
      <ul class="flex flex-col pl-[15px]">
        {Object.values(node.children).map((child) => (
          <Astro.self node={child} depth={depth + 1} currentCategory={curr} />
        ))}
      </ul>
    </li>
  )
}

<style>
  @reference "@styles/global.css";

  .cat-item::before {
    @apply absolute -top-[9px] left-[-5px] z-1 h-full w-[15px] border-b-1 border-l-1 border-b-ctp-overlay2 border-l-ctp-overlay2 content-[""];
  }

  li:not(.cat-item) {
    &::before {
      @apply absolute -top-[9px] left-[-5px] z-1 h-full w-[15px] border-l-1 border-l-ctp-overlay2 content-[""];
    }
  }

  .cat-recursive-item .cat-recursive-item:not(.cat-item:last-child) {
    &::before {
      @apply absolute z-1 border-none content-[""];
    }
  }
</style>
