---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  pages?: Page<CollectionEntry<"blog">> | null;
}

const { pages } = Astro.props;
const isFirstPage = pages?.currentPage === 1;
const isLastPage = pages?.currentPage === pages?.lastPage;
---

{
  pages && (
    <nav
      class="mx-[33%] flex h-8 flex-row items-center justify-center gap-2"
      aria-label="Pagination"
    >
      <ul class="flex h-8 flex-row items-stretch justify-center gap-2">
        <!-- First page -->
        <li>
          {
            !isFirstPage && (
              <a
                href={pages.url.first}
                class="flex h-full w-8 items-center justify-center rounded-sm p-1 select-none hover:bg-(--color-primary)/20"
              >
                <span class="sr-only">Go to the first page</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  class="w-4 fill-(--color-text)"
                  viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0M4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5" />
                </svg>
              </a>
            ) 
          }
        </li>

        <!-- Previous page -->
        <li>
          {
            !isFirstPage && (
              <a
                href={pages.url.prev}
                class="flex h-full w-8 items-center justify-center rounded-sm p-1 select-none hover:bg-(--color-primary)/20"
              >
                <span class="sr-only">Go to the previous page</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  class="w-4 fill-(--color-text)"
                  viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>
              </a>
            )
          }
        </li>

        <!-- Current page -->
        <li aria-current="page">
          <span class="flex h-full w-fit min-w-8 cursor-default items-center justify-center rounded-sm p-1 px-2 text-sm">
            <span class="sr-only">Page</span>
            {pages.currentPage}/{pages.lastPage}
          </span>
        </li>

        <!-- Next page -->
        <li>
          {
            !isLastPage && (
              <a
                href={pages.url.next}
                class="flex h-full w-8 items-center justify-center rounded-sm p-1 select-none hover:bg-(--color-primary)/20"
              >
                <span class="sr-only">Go to the next page</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  class="w-4 fill-(--color-text)"
                  viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                </svg>
              </a>
            )
          }
        </li>

        <!-- Last page -->
        <li>
          {
            !isLastPage && (
              <a
                href={pages.url.last}
                class="flex h-full w-8 items-center justify-center rounded-sm p-1 select-none hover:bg-(--color-primary)/20"
              >
                <span class="sr-only">Go to the last page</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  class="w-4 fill-(--color-text)"
                  viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0M11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5" />
                </svg>
              </a>
            )
          }
        </li>
      </ul>
    </nav>
  )
}
