---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { ChevronFirst, ChevronLeft, ChevronRight, ChevronLast } from "@lucide/astro";

interface Props {
  pages?: Page<CollectionEntry<"blog">> | null;
}

const { pages } = Astro.props;
const isFirstPage = pages?.currentPage === 1;
const isLastPage = pages?.currentPage === pages?.lastPage;
---

{
  pages && (
    <nav
      class="mx-[33%] flex h-8 flex-row items-center justify-center gap-2"
      aria-label="Pagination"
    >
      <ul class="flex h-8 flex-row items-stretch justify-center gap-2">
        <!-- First page -->
        <li>
          {
            !isFirstPage && (
              <a
                href={pages.url.first}
                class="flex h-full w-8 items-center justify-center rounded-sm p-1 select-none hover:bg-(--color-primary)/20"
              >
                <ChevronFirst aria-label="Go to the first page" class="size-4 text-(--color-text)"/>
              </a>
            ) 
          }
        </li>

        <!-- Previous page -->
        <li>
          {
            !isFirstPage && (
              <a
                href={pages.url.prev}
                class="flex h-full w-8 items-center justify-center rounded-sm p-1 select-none hover:bg-(--color-primary)/20"
              >
                <ChevronLeft aria-label="Go to the previous page" class="size-4 text-(--color-text)"/>
              </a>
            )
          }
        </li>

        <!-- Current page -->
        <li aria-current="page">
          <span class="flex h-full w-fit min-w-8 cursor-default items-center justify-center rounded-sm p-1 px-2 text-sm">
            <span class="sr-only">Page</span>
            {pages.currentPage}/{pages.lastPage}
          </span>
        </li>

        <!-- Next page -->
        <li>
          {
            !isLastPage && (
              <a
                href={pages.url.next}
                class="flex h-full w-8 items-center justify-center rounded-sm p-1 select-none hover:bg-(--color-primary)/20"
              >
                <ChevronRight aria-label="Go to the next page" class="size-4 text-(--color-text)"/>
              </a>
            )
          }
        </li>

        <!-- Last page -->
        <li>
          {
            !isLastPage && (
              <a
                href={pages.url.last}
                class="flex h-full w-8 items-center justify-center rounded-sm p-1 select-none hover:bg-(--color-primary)/20"
              >
                <ChevronLast aria-label="Go to the last page" class="size-4 text-(--color-text)"/>
              </a>
            )
          }
        </li>
      </ul>
    </nav>
  )
}
